<style>
    .search-bar
    {
        border-radius: 2.5rem;
    }
</style>
    
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-suitcase"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/listings">All Listings</a>
                <a class="nav-link" href="/listings/new">Add New Listing</a>
            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search" method="GET" action="/listings/search">
                    <input name="query" class="form-control search-bar me-2" style="width: 25rem;" type="search" placeholder="Search Listings">
                    <button class="btn search-bar btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <% if (!users) { %>
                <a class="nav-link" href="/login">Log In</a>
                <% } else { %>
                <a class="nav-link" href="/logout">Log Out</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>