<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3 style="margin: 2rem 0rem">Create New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-8">
                        <div class="title mb-3" >
                            <label for="title" class="form-label">Enter Title</label>
                            <input type="text" name="listing[title]" class="form-control" placeholder="Add an amazing title" required>
                            <div class="valid-feedback">Title looks good!</div>
                            <div class="invalid-feedback">Please enter a valid title</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price mb-3">
                            <label for="price" class="form-label">Enter Price</label>
                            <input type="number" name="listing[price]" class="form-control" placeholder="Eg: 2400" required>
                            <div class="valid-feedback">Price looks good!</div>
                            <div class="invalid-feedback">Please enter a valid price</div>
                        </div>
                    </div>
                </div>
                <div class="description mb-3">
                    <label for="description" class="form-label">Enter Description</label>
                    <input type="text" name="listing[description]" class="form-control" required>
                    <div class="valid-feedback">Description looks good!</div>
                    <div class="invalid-feedback">Please enter a valid description</div>
                </div>
                <div class="row">
                    <div class="image mb-3 col-md-6">
                        <label for="listing[image][url]" class="form-label">Upload Image</label>
                        <input type="file" name="listing[image][url]" class="form-control" placeholder="www.xyz.in/...">
                    </div>
                    <div class="category col-md-6">
                        <label for="listing[category]" class="form-label">Select Category</label>
                        <select name="listing[category]" class="form-select">
                            <option selected>No category selected</option>
                            <option value="Trending">Trending</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Pools">Pools</option>
                            <option value="Mountains">Mountains</option>
                            <option value="Iconic Cities">Iconic Cities</option>
                            <option value="Castles">Castles</option>
                            <option value="Trekking">Trekking</option>
                            <option value="Camping">Camping</option>
                            <option value="Snowy">Snowy</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="location mb-3">
                            <label for="location" class="form-label">Enter Location</label>
                            <input type="text" name="listing[location]" class="form-control" required>
                            <div class="valid-feedback">Location looks good!</div>
                            <div class="invalid-feedback">Please enter a valid location</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="country mb-3">
                            <label for="country" class="form-label">Enter Country</label>
                            <input type="text" name="listing[country]" class="form-control" required>
                            <div class="valid-feedback">Country name looks good!</div>
                            <div class="invalid-feedback">Please enter a valid country name</div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark add-btn" style="margin: 1rem 0rem 3rem 0rem">Create Listing</button>
            </form>
        </div>
    </div>
</body>
</html>